# These authentication flows should not be used in production 
# substitute with your own values.
VIYA_SERVER= 
VIYA_USER= 
VIYA_PASSWORD= 
VIYA_CLIENTID=
VIYA_CLIENTSECRET=
DEBUG=none
# DEBUG=tools,read,logonpayload,deletesession,mcpserver

# Alternatively use sas-viya auth loginCode to set auth token
# As currently configured this option will not work when the mcp server is running in docker
# To fix this have to add a file mount and some other changes
USETOKEN=FALSE


